*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #02325F;
}

header{
    top: 0;
    width: 100%;
    height: 90px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-color: #01182e;
}

header a img{
    position: relative;
    cursor: pointer;
    border: none;
}

#logoPrincipal{
    box-shadow: 0px 0px 15px #0471d763;   
}

#logoPrincipal img{
    display: block;
    width: 200px;
    height: auto;
    background-position: 35px, left;
}

main{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

main div{
    padding: 15px;
    opacity: 15px;
    display: flex;
    max-width: 75%;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: #01182e4f;
    border: 1px solid #0862b569;
    box-shadow: 5px 5px 20px #0471d763;
}

main img{
    width: 40%;
    height: auto;
    min-width: 400px;
}

main div h1{
    flex: 1;
    height: 20%;
    color: #fff;
    line-height: 1.5;
    font-size: 18px;
    display: flex;
    text-align: center;
    justify-content: center;
}

p{
    text-align: center;
    text-transform: uppercase;
    padding: 0px 5% 0px 5%;
    line-height: 1.5;
    font-weight: normal;
    font-size: 15px;
    color: #fff;
}

.classic{
    justify-content: center;
}

ul{
    text-align: right;
    position: relative;

}

li{
    display: inline;
    list-style: none;
    padding-right: 20px;
}

ul li a{
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    padding-top: 7px;
    color: #fff;
    margin: 3px 3px 3px 0px;
    text-decoration: none;    
}

ul li a:visited{
    color: #ffffff;
}

ul li a:hover{
    cursor: pointer;
    color: rgb(2, 221, 255);
    text-shadow: 0px 0px 15px rgb(2, 221, 255);
}

button#burger{
    background-color: #01182e;
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border: none;
}

button#burger:hover{
    color:rgb(2, 221, 255);
    text-shadow: 0px 0px 15px rgb(2, 221, 255);
}

menu{
    display: block;
}

img{
    border-radius: 5px;
    border: 2px solid #fff;
}

footer{
    width: 100%;
    height: 90px;
    padding: 30px;
    color: #fff;
    font-size: 15px;
    background-color: rgb(1, 24, 46);
}