*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

html{
    min-width: 600px;
}

body{
    width: 100%;
    min-width: 440px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #02325F;
}

p{
    text-align: center;
    text-transform: uppercase;
}

header{
    top: 0;
    width: 100%;
    height: 90px;
    padding: 10px 35px 0px 0px;
    position:absolute;
    background-repeat: no-repeat;
    background-color: #01182e;
}

header a img{
    position: absolute;
    cursor: pointer;
    border: none;
}

#logoPrincipal{
    box-shadow: 0px 0px 15px #0471d763;
}

#logoprincipal img{
    display: block;
    width: 200px;
    height: auto;
    background-position: 35px, left;
}
/* exibir menu burger com width: 600px;
span#burger{
    background-color: #01182e;
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burger:hover{
    background-color: #fff;
    color: #000;
}

menu{
    display: none;
}
*/

main{
    flex: 1;
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.classic{
    margin-top: 60px;
    padding: 35px;
    justify-content: center;
}

h1{
    padding: 10px 40% 0% 40%;
    align-items: center;
    font-size: 18px;
    color: #fff;
}

ul{
    text-align: right;
    position: relative;
    padding-top: 25px;
}

li{
    display: inline;
    list-style: none;
    padding-right: 20px;
}

ul li a{
    font-size: 15px;
    font-weight: bolder;
    display: inline;
    color: #fff;
    cursor: pointer;
    text-decoration: none;    
}

ul li a:visited{
    color: #ffffff;
}

ul li a:hover{
    cursor: pointer;
    text-shadow: 0px 0px 5px #3398f8;
}

figure{
    padding: 2%;
    display: inline-block;
}

img{
    margin: 0px 25px 10px 25px;
    border-radius: 5px;
    border: 2px solid #fff;
}

.overlay{
    position: absolute;
    opacity: 1;
    transition: all 0.5s ease;
}

figure a{
    height: 30px;
    width: 200px;
    color: rgb(251, 251, 251);
    font-size: 13px;
    display: block;
    cursor: pointer;
    padding-top: 7px;
    text-align: center;
    border-radius: 15px;
    margin: 3px 3px 3px 0px;
    text-decoration: none;
    box-shadow: 0px 0px 15px #01182e;
    background: linear-gradient(90deg,#0060ba, #5ba9f2 );
}

footer{
    width: 100%;
    height: 90px;
    padding: 30px;
    color: #fff;
    font-size: 18px;
    background-color: rgb(1, 24, 46);
}